@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

.nav {
    margin: 0 auto;
    text-align: center;
}

h1, h2 {
    font-family: 'Josefin Sans', sans-serif;
}

.container {
    width: 400px;
    margin: 0 auto;
}


.header {
    display: flex;
}

.title {
    width: 90%;
}

.date {
    float: right;
}

.post-img {
    width: 400px;
    height: 400px;
    object-fit: cover;
}

.post {
    margin-top: 20px;
}

.red {
    background-color: brown;
}

.blue {
    background-color: aqua;
}