.container {
    width: 500px !important;
}

.avatar {
    width: 140px !important;
    height: 140px;
    border-radius: 100%;
    object-fit: cover !important;
    object-position: center;
}

.info {
    min-width: 120px;
    min-height: 140px;
    padding: 20px;
    margin: 0px 20px 0px 20px;
    ;

}

.title {
    font-family: 'Josefin Sans', sans-serif;
    margin-bottom: 0% !important;
    font-size: 16px;
    font-weight: bold;

}

.occupation {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 12px;
    margin: 0%;
    margin-bottom: 3% !important;
}

a {
    text-decoration: none !important;
    color: black !important;
}

p {
    font-family: 'Josefin Sans', sans-serif;
    margin: 0% !important;
    font-size: 10px;
}



td {
    font-size: 11px;
    line-height: 18px;
}

table {
    background: url(https://i.postimg.cc/CMG6ThFB/background.png);
    background-repeat: no-repeat;
    object-fit: none;
    object-position: 50% 70%;
}
